body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-content{
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

.menu-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.secret_link:hover {
  cursor: not-allowed;
}

/* Галерея */

/* .image-container {
	display: flex;

} */
.photo-block img{
	max-width: 300px;
  max-height: 150px;
}
.photo-block .image-container{
	border-top: 2px green dotted;
	border-bottom: 2px green dotted;
}

.photo-block{
	border: 2px dotted green;
	width: 300px;
    height: 200px;
	margin: 5px;
    border-radius: 25px;
}

.photo-block:hover .button{
	background: black;
}

/* .image-container{
	display: flex;
  justify-content: space-around;
} */

.photo-name{
	display: flex;
	justify-content: center;
}

.button-container{
	display: flex;
	justify-content: space-around;
	height: 35px;
}

.button-container .button{
	flex: 1;
    background: green;
    border-radius: 0;
    margin: 0;
	background: green;
}

.button-container .button:first-child{
	border-bottom-left-radius: 22px;
}

.button-container .button:last-child{
	border-bottom-right-radius: 22px;
}

.button-container .button:nth-child(2n){
	background: yellow;
}

.page{
	display: none;
}

.page:target{
	display: block;
}


.logo {
  text-align: center;
}

.logo-text {
  color: #66C05D;
  font-size: 57px;
  font-weight: 700;
  text-transform: uppercase;
}


  .logo-flex {
display: flex;
align-items: center;
  }


  /* <!-- Псевдокласс :focus  --> */

  #enter .label {
    width: 80px; /* Ширина блока с текстом */
    float: left; /* Расположение в одну строку с полем */
    text-align: right; /* Выравнивание по правому краю */
  }
  #enter .form-text {
    width: 240px; /* Ширина поля */
    margin-left: 10px; /* Расстояние между полем и текстом */
    border: 1px solid #abadb3; /* Рамка вокруг текстового поля */
    padding: 2px; /* Поля вокруг текста */
  }
  #enter .form-item {
    margin-bottom: 5px; /* Отступ снизу */
  }
  #enter .form-text:focus {
    background: #ffe; /* Цвет фона */
    border: 1px solid #29B0D9; /* Параметры рамки */
  }
  #enter p {
   margin-left: 90px; /* Сдвиг вправо */
  }

  