body {margin:0;}

.main-content {
    margin-top: 90px;
  }

/* Выпадающее меню */
  nav {background: #413F3C;}

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav ul:after {
    content: "";
    display: table;
    clear: both;
  }

  nav a {
    text-decoration: none;
    display: block;
    transition: .2s linear;
  }

  .topmenu > li {
    float: left;
    position: relative;
    border-left: 1px solid black;
  }

  .topmenu > li:first-child {border-left: 0;}

  .topmenu > li > a {  
    padding: 20px 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
  }

  .submenu a:hover {color: red;}
  
  .submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;  
    transition: .3s linear;  
  }
  .submenu li {position: relative;}

  .submenu li a {
    color: #282828;
    padding: 10px;
    font-size: 19px;
    border-bottom: 1px solid #CBCBCC;
  }

  .submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
  }

  nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

.menu-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;}

  /* Картинка над текстом */
  .menu-fixed a:hover {
    color: #fff;
  }
  .menu-fixed a:hover i {
    display: none;
  }
  .menu-fixed a:hover b {
    display: block;
  }
  
  .menu-fixed li b {
    display: none;}

/* Галерея */
.photo-block img {
	max-width: 300px;
  max-height: 150px;}

.photo-block .image-container{
	border-top: 3px silver solid;
	border-bottom: 3px silver solid;}

.photo-block{
	border-style: solid;;
	width: 350px;
  height: 200px;
	margin: 5px;
  border-radius: 25px;}

  .photo-block .photo-name {
    font-weight:bold;
    font-size: 20px;
  }

.photo-block:hover .button{
	background: red;}

.image-container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;;
  justify-content: center;}

.photo-name{
	display: flex;
	justify-content: center;
  text-align: center}

  .button {
    font-weight:bold;
    text-align: center
  }

.button-container{
	display: flex;
	justify-content: space-around;
	height: 21px;}

.button-container .button{
	flex: 1;
  border-radius: 8;
  margin: 0;}

.button-container .button:first-child{
	border-bottom-left-radius: 22px;}

.button-container .button:last-child{
	border-bottom-right-radius: 22px;}

.button-container .button:nth-child(2n){
	background: white;}

/* Спрятать страницу */
.page {
  display: none;}

.page:target{
	display: block;}


  /* ДОМ */

.logo-text {
  color: #66C05D;
  font-size: 57px;
  font-weight: 700;
  text-transform: uppercase;}

.logo-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;}


  /* <!-- Псевдокласс :focus  --> */
input:focus {
  background-color: bisque;}

  /* Разное */
.secret_link:hover {
  cursor: not-allowed;}

.topmenu a:hover {color: red;}

.center {
  display: flex;
  justify-content: center;
}

.text {
  font-size: 20px;
  font-weight:bold;
}

.margin {
  margin: 34px;
}


.nav a:hover {
  color: #fff;
}
.nav a:hover i {
  display: none;
}
.nav a:hover b {
  display: block;
}

.topnav-right {
    float: right
}