body {margin:0;}

.main-content {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;}

/* Выпадающее меню */
  nav {background: #413F3C;}

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav ul:after {
    content: "";
    display: table;
    clear: both;
  }

  nav a {
    text-decoration: none;
    display: block;
    transition: .2s linear;
  }

  .topmenu > li {
    float: left;
    position: relative;
    border-left: 1px solid black;
  }

  .topmenu > li:first-child {border-left: 0;}

  .topmenu > li > a {  
    padding: 20px 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
  }

  .submenu a:hover {color: red;}
  
  .submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;  
    transition: .3s linear;  
  }
  .submenu li {position: relative;}

  .submenu li a {
    color: #282828;
    padding: 10px;
    font-size: 19px;
    border-bottom: 1px solid #CBCBCC;
  }

  .submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
  }

  nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

.menu-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;}

/* Галерея */
.image-container {
	display: flex;}

.photo-block img {
	max-width: 300px;
  max-height: 150px;}

.photo-block .image-container{
	border-top: 2px green dotted;
	border-bottom: 2px green dotted;}

.photo-block{
	border: 2px dotted green;
	width: 300px;
  height: 200px;
	margin: 5px;
  border-radius: 25px;}

.photo-block:hover .button{
	background: black;}

.image-container{
	display: flex;
  justify-content: space-around;}

.photo-name{
	display: flex;
	justify-content: center;}

.button-container{
	display: flex;
	justify-content: space-around;
	height: 35px;}

.button-container .button{
	flex: 1;
  background: green;
  border-radius: 0;
  margin: 0;
	background: green;}

.button-container .button:first-child{
	border-bottom-left-radius: 22px;}

.button-container .button:last-child{
	border-bottom-right-radius: 22px;}

.button-container .button:nth-child(2n){
	background: yellow;}

/* Спрятать страницу */
.page {
	display: none;}

.page:target{
	display: block;}


  /* ДОМ */
.logo {
  text-align: center;}

.logo-text {
  color: #66C05D;
  font-size: 57px;
  font-weight: 700;
  text-transform: uppercase;}

.logo-flex {
display: flex;
align-items: center;}


  /* <!-- Псевдокласс :focus  --> */
input:focus {
  background-color: bisque;}

  /* Разное */
.secret_link:hover {
  cursor: not-allowed;}
